<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../Content/css/styles.css">
    <title>Ping Pong</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <form action="/ping-pong" method="post">
          <div class="col-md-9">
            <input type="number" name="number">
          </div>
          <div class="col-md-3">
            <button type="submit">Go!</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
