<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../Content/css/styles.css">
    <title>Ping Pong</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-4">
        </div>
        <div class="col-4 ouput">
          <!--Razor Code-->
          <div class="results">
            <h1>Results</h1><br>
            @foreach(var number in Model)
            {
              if(number == "ping")
              {
                <div class="ping">
                  <h1>@number</h1>
                </div>
              }
              else if(number == "pong")
              {
                <div class="pong">
                  <h1>@number</h1>
                </div>
              }
              else if (number == "ping-pong")
              {
                <div class="ping-pong">
                  <h1>@number</h1>
                </div>
              }
              else
              {
                <h1>@number</h1><br>
              }
            }
          </div>
        </div>
        <div class="col-4">
        </div>
      </div>
    </div>
  </body>
</html>
